APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RSA_PUBLIC="-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCgZf00dse3Ww3xlz+vIsgw6zS2
8ltf7B7wqQYf9tdsfsdfsdfsdfsdfHD8LO2UhPqRLePMllheXQExm4Q68aaWasNi
95/hS/4ZFprfarz6XOdihb8C11fBHgeJ55tRwFebWuNIYtiHmwsB5guKlayLYh35
mTMjqLLmIPRLsJa3BwIDAQAB
-----END PUBLIC KEY-----"

RSA_PRIVATE="-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQCgZf00dse3Ww3xlz+vIsgw6zS28ltf7B7wqQYf9tHD8LO2UhPq
RLePMllheXQExm4Q68aaWasNipi2bRYzNVwx5GW795/hS/4ZFprfarz6XOdihb8C
11fBHgeJ55tRwFebWuNIYtiHmwsB5guKlayLYh35mTMjqLLmIPRLsJa3BwIDAQAB
AoGAM4C8HoH7W+0xW38w1DgLZuXHTe0hGPpU7vqe/FmA/nUGB4dwXJtHA4RrvchF
UBk1E1rZsQsUySrVIVKCu9uo59q1ZKypCvG5nOI/siC9eyj9R837oPk11jeFEd1V
lskdjflkjsdlkfjlkOgW+2cNcCH0GaOg9wBTRdc8kJSBN320SSH2QgqVvLSF+EAk
d9jmYm7DCZMXwoqZZta2NxTrZnRC4x8Td7c0WyEK3qZfhLtpvcrdAR4KZcM5Nwj9
HSBypOGJAkEArpQ/AwTL/IixDuA+5ET9WlJkgwuMkOX9+y/h/9lRMcCGQIAooF05
bA16Zm8gxNtWzejlnoLbiBzIlmKD6aGADwJBAKcLmFouacKZSgCh6pENHZ81YJuC
Vk9Go318N0ZMWIvcpIh+AMaVZi1DHiQ+r6AU5Ev77Cr0RSeQd7jUg+QISAkCQDHU
Wo/wBJFWKsOGOi1Ji88GCW5mE38gRng12JoAW26J90fdzLrJISS4TCGEwqOtv38S
ZMfzrdmR7acPA3vh/v0CQAQnT6bon5mci4GH4Cl40MQb882qLe3iZaUYJUu4A1eu
icckhmBWHfmSMaSSGJc8Y0tLdnTzDaT1ufzqcw45Cs8=
-----END RSA PRIVATE KEY-----"
